.company-title {
    margin: 15px 0 0 15px;
}
.company-logo {
    width: 20vw;
}
.form-header {
    color: rgb(63, 63, 63);
}
.login-block {
    position:absolute;
    display:inline-block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 35%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}

.login-form {
    width: 100%;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

