
    // background-color: rgb(26, 89, 134) !important;
* {
    color: #fff;
}
.copyright {
    float: left;
    margin-left: 2vw;
}
.footer-nav {
    list-style: none;
    float: right;
}
.footer-nav li {
    display: inline-block;
    margin-right: 2vw;
}