/* You can add global styles to this file, and also import other style files */
html,
body {
  color: #444;
  font-family: Roboto;
  background: linear-gradient(to bottom left, #fff, #0C84DA);
  height: 100vh;
}